/* styles.css created by Carlos A. Valdez */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* ---- ---- ---- GRID ---- ---- ---- */
.grid {
    display: grid;
    grid-template-columns: 20% 80%;   /* want the sidebar to take 30% of screen, rest 70%*/
}

/* ---- ---- ---- SIDEBAR ---- ---- ---- */
.sidebar {
    background-color: #052e16;
    color: white;
    height: 100vh;
}
.logo-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 40px 40px;
}
.logo-text > h1 {
    font-size: 24px;
}
.logo-text > svg {  /* Change if need logo to be bigger/smaller */
    min-width: 24px;
    max-width: 48px;
    min-height: 24px;
    max-height: 48px;
}
.sidebar-items-bottom {
    margin-top: 60px;
}
.icon-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 40px;
}
.icon-text > svg {
    min-width: 16px;
    max-width: 24px;
    min-height: 16px;
    max-height: 24px;
    margin-left: 10px;
}
.icon-text > p {
    margin-left: 16px;
    font-size: 16px;
    font-weight: bold;
}



/* ---- ---- ---- MAIN ---- ---- ---- */
.main {
    background-color: white;
    height: 100vh;
    display: grid;
    grid-template-rows: 25% 75%;
}

.navigaiton-bar-header {
    background-color: white;
    display: flex;
    flex-direction: column;
}
.navbar {
    display: flex;
    flex-direction: row;
}
.navbar-left {
    display: flex;
    flex-direction: row;
    margin: 20px 50px;
    align-items: center;
    /* justify-content: flex-start; */
}
.navbar-right {
    display: flex;
    flex-direction: row;
    margin: 20px 50px;
    align-items: center;
    justify-content: flex-end;
}
.navbar-input {
    width: 550px;
    height: 24px;
    background-color: #d1d5db;
    border-radius: 10px;
    border: 1px solid #353535;
    margin-left: 20px;
    margin-right: 100px;
    min-width: 10px;
}
.navbar > img {
    margin: 0 16px;
}

.welcome {
    display: flex;
    flex-direction: row;
    margin: 0 20px;
    align-items: center;
    justify-content: space-between;
}
.welcome-left {
    display: flex;
    flex-direction: row;
}
.welcome-right {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-right: 50px;
}

.btn {
    background-color: #052e16;
    color: white;
    font-weight: bold;
    height: 36px;
    width: 90px;
    border-radius: 20px;
    border: 1px solid #052e16;
}

/* ---- ---- ---- CARD CONTENT ---- ---- ---- */
.content {
    background-color: #e7e5e4;  /* gray */
    display: grid;
    grid-template-columns: 60% 40%;
}

.card-content {
    
}

.cards {
    display: grid;
    grid-template-columns: 50% 50%;
}

#card-content-title {
    margin: 20px 20px;
}

.cards-left {
    display: grid;
    margin: 0 20px;
    gap: 2rem;
}

.cards-right {
    display: grid;
    margin: 0 20px;
    gap: 2rem;
}

.card {
    background-color: #fafaf9;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    border: 2px solid black;
    border-left: 10px solid #16a34a;
    border-radius: 10px;
    grid-auto-rows: 16px;
    gap: 2rem;
    padding-bottom: 2rem;
}

.card > h4 {
    margin-top: 5px;
    margin-left: 5px;
}

.card > p {
    margin-top: 0;
    margin-left: 5px;
}

.card-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
    margin-bottom: 20px;
    gap: 20px;
}

#announce-content-title {
    margin: 20px 20px;
}
